/* #region General App Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Manrope;
}

html,
body,
#root {
  min-height: 100dvh;
  margin: 0;
}

p {
  margin: 0;
  font-size: 13px;
}

.app {
  display: flex;
  min-height: 100dvh;
}

.light {
  --bg-color: #fff;
  --text-color: #000;
  --text-color-details: #5f5f5f;
  --text-color-secondary: #fff;
  --border-color: #ddd;
  --bg-color-primary: #f5f5f5;
  --accent-color: #007bff;
  --accent-color-hover: #0056b3;
  --message-color: #cef6ff;
  --bg-gradient: linear-gradient(135deg, #CCE1F7 0%, #f5f5f5 50%, #CCE1F7 100%);
}

.dark {
  --bg-color: #001833;
  --text-color: #fff;
  --text-color-details: #b4b4b4;
  --text-color-secondary: #000;
  --border-color: #000;
  --bg-color-primary: #000c19;
  --accent-color: #b2d7ff;
  --accent-color-hover: #e5f1ff;
  --message-color: #004999;
  --bg-gradient: linear-gradient(135deg, #004999 0%, #001833 50%, #004999 100%);
}

/* #endregion */

/* #region Sidebar Styles */

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color-primary);
  border-right: 1px solid var(--border-color);
  min-width: 300px;
}

.sidebar {
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.search {
  padding: 10px;
  background-color: var(--bg-color);
  border: none;
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 50px;
  margin: 10px 10px 2px 10px;
  color: var(--text-color)
}

.search:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

.search-result {
  text-align: center;
  margin-top: 10px;
  color: var(--text-color);
}

/* #endregion */

/* #region User List Styles */

.user-list {
  list-style: none;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.user:hover {
  background-color: var(--border-color);
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info span {
  font-size: 20px;
}

.user-info small {
  color: var(--text-color-details);
  font-size: 13px;
}

.avatar {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid var(--border-color);
}

/* #endregion */

/* #region LogOut and ChangeTheme Button Style */

.sidebar-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 60px;
}

.btn-log-out {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 50px;
  padding: 10px 40px;
  background-color: var(--accent-color);
  font-weight: bold;
  border: none;
  color: var(--text-color-secondary);
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.btn-log-out:hover {
  background-color: var(--accent-color-hover);
}

.change-theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 10px;
  background-color: var(--accent-color);
  font-weight: bold;
  border: none;
  color: var(--text-color-secondary);
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.change-theme:hover {
  background-color: var(--accent-color-hover);
}

/* #endregion */

/* #region Not Found Chat Styles */

.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.user-not-found {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.user-not-found img {
  max-width: 300px;
  margin-bottom: 35px;
}

.user-not-found h2 {
  max-width: 600px;
  display: flex;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  color: var(--text-color);
}

.user-not-found p {
  max-width: 600px;
  display: flex;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  color: var(--text-color);
}

.user-not-found button {
  max-width: 300px;
  margin-top: 35px;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 25px;
  border-radius: 50px;
  border: none;
  background-color: var(--accent-color);
  color: var(--text-color-secondary);
  transition: background-color .3s ease-in-out;
  cursor: pointer;
}

.user-not-found button:hover {
  background-color: var(--accent-color-hover);
}

/* #endregion */

/* #region Chat Styles */

.chat-header {
  padding: 12px 15px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color-primary);
}

.chat-user {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
}

.chat-user-data {
  display: flex;
  flex-direction: column;
}

.chat-user span {
  font-size: 13px;
  color: var(--text-color-details);
}

.chat-header img {
  width: 45px;
  border-radius: 50%;
}

.chat-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.chat-actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 7px;
  background-color: var(--accent-color);
  border-radius: 50px;
  color: var(--text-color-secondary);
  transition: background-color .3s ease-in-out;
}

.chat-actions button:hover {
  background-color: var(--accent-color-hover);
}


.chat-messages {
  flex: 1;
  padding: 15px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  background-color: var(--message-color);
  padding: 5px 10px;
  border-radius: 8px;
  align-self: flex-end;
  max-width: 60%;
}

.message p {
  font-size: 14px;
  color: var(--text-color);
}

.message .time {
  font-size: 11px;
  display: block;
  text-align: end;
  color: var(--text-color-details);
}

.chat-footer {
  display: flex;
  padding: 10px;
  border-top: 1px solid var(--border-color);
  gap: 10px;
  background-color: var(--bg-color-primary);
}

.chat-footer form {
  display: flex;
  flex: 1;
  gap: 10px;
}

.chat-footer input {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  outline: none;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.chat-footer input:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

.chat-footer button {
  padding: 10px 15px;
  border: none;
  background-color: var(--accent-color);
  color: var(--text-color-secondary);
  border-radius: 50px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.chat-footer button:hover {
  background-color: var(--accent-color-hover);
}

/* #endregion */

/* #region Login Page Styles */

.login-main {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #CCE1F7 0%, #f5f5f5 50%, #CCE1F7 100%);
  color: white;
}

.login-main img {
  width: 80px;
  margin-bottom: 15px;
}

.login-main h1 {
  margin-bottom: 20px;
  font-size: 26px;
  color: black;
}

.login-main form {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-main form label {
  font-weight: bold;
  font-size: 14px;
  color: black;
  text-align: center;
}

.login-main form input {
  padding: 10px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
  border-radius: 50px;
}

.login-main form input:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

.login-main form button {
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #007bff;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

form button:hover {
  background-color: #0056b3;
}

.login-message {
  text-align: center;
}

.text-info {
  margin-top: 10px;
  font-size: 13px;
  color: black;
}

/* #endregion */

/* #region Chat Pop Up Styles */

.cont-popup {
  background-color: rgba(212, 212, 212, 0.5);
  backdrop-filter: blur(1px);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 10px;
  min-width: 400px;
  box-shadow: 10px 9px 31px -13px rgba(0, 0, 0, 0.81);
  color: var(--text-color);
}

.popup-divider {
  display: flex;
  width: 100%;
  border-top: 1px solid var(--border-color);
  margin: 10px;
}

.popup h2 {
  margin-bottom: 15px;
}

.popup h3 {
  font-weight: 300;
  font-size: 16px;
}

.popup-coming-soon {
  color: var(--text-color-details)
}

.popup-close {
  max-width: 300px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 700;
  color: var(--text-color-secondary);
  padding: 8px 25px;
  border-radius: 50px;
  border: none;
  background-color: var(--accent-color);
  transition: background-color .3s ease-in-out;
  cursor: pointer;
}

.popup-close:hover {
  background-color: var(--accent-color-hover);
}

.popup-change-theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
  border-radius: 50px;
  padding: 10px;
  background-color: var(--accent-color);
  font-weight: bold;
  border: none;
  color: var(--text-color-secondary);
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.change-theme:hover {
  background-color: var(--accent-color-hover);
}

/* #endregion */

/* #region 404 NotFound Styles */

.section-not-found {
  display: flex;
  flex: 1;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.section-not-found img {
  max-width: 300px;
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: #fff;
  padding: 40px;
  border-radius: 50%;
}

.section-not-found h1 {
  max-width: 600px;
  display: flex;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

.section-not-found p {
  max-width: 600px;
  display: flex;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

.section-not-found button {
  max-width: 300px;
  margin-top: 35px;
  font-size: 16px;
  font-weight: 700;
  color: var(--text-color-secondary);
  padding: 8px 25px;
  border-radius: 50px;
  border: none;
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.section-not-found button:hover {
  background-color: var(--accent-color-hover);
}

/* #endregion */

/* #region Help Styles */

.help-page {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background: var(--bg-gradient);
  color: var(--text-color);
  text-align: center;
  align-items: center;
}

.help-page-div {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  text-align: center;
  align-items: center;
  padding: 0px 25%;
}

.help-page h2 {
  margin-bottom: 25px;
}

.help-page hr {
  border-top: 1px solid var(--border-color);
  margin: 25px;
  width: 100%;
}

.btns-help-container {
  display: flex;
  flex-direction: row;
  margin: 25px;
  gap: 25px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}



.help-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
  border-radius: 50px;
  padding: 10px;
  background-color: var(--accent-color);
  font-weight: bold;
  border: none;
  color: var(--text-color-secondary);
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.help-btns:hover {
  background-color: var(--accent-color-hover);
}

.help-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 1rem;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.28);
}

.help-header p {
  text-align: center;
  color: var(--text-color);
  padding: 10px;
  font-size: 14px;
}

.help-login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 20px;
  border-radius: 2rem;
}


.help-features-general {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.help-feat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 1rem;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.28);
  font-size: 16px;
}

.help-feat h3 {
  font-size: 18px;
  color: var(--accent-color-hover);
}

.help-new-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 1rem;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.28);
  font-size: 16px;
}

.help-dev-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 1rem;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.28);
  margin-top: 25px;
  margin-bottom: 10px;
}

.logo-vite {
  max-width: 200px;
  max-height: 100px;
}

.logo-react {
  max-width: 200px;
  max-height: 100px;
}

.logo-vercel {
  max-width: 200px;
  max-height: 200px;
}

.help-sign {
  margin-bottom: 30px;
}

/* #endregion */

/* #region Breakpoints Media */

/*---Primer Breakpoint: MiniScreen? ---*/

@media(max-width: 650px) {

  .user-info,
  .search,
  .btn-log-out p,
  .change-theme,
  .chat-avatar {
    display: none;
  }

  button.btn-chat-gallery,
  button.btn-chat-camera {
    display: none;
  }

  .chat-user {
    flex-direction: column;
    font-size: 14px;
    align-items: start;
  }

  .chat-user span {
    font-size: 11px;
  }

  .btn-log-out {
    padding: 10px;
  }

  .sidebar,
  .sidebar-container {
    min-width: auto;
  }

  .avatar {
    margin-right: 0px;
  }

  .message {
    max-width: 100%;
  }

  .user-not-found img {
    width: 150px;
  }

  .user-not-found h2,
  .user-not-found p {
    margin: 0px 10px;
    margin-top: 10px;
  }



  .help-page-div {
    padding: 5px 5%;
  }

  .help-login-screen {
    width: 100%;
    padding: 5px;
  }

  .help-features-general {
    grid-template-columns: repeat(1, 1fr);
  }

  .help-dev-logos {
    flex-direction: column;
  }

}

@media(max-width: 1350px) {
  .help-page-div {
    padding: 5px 5%;
  }

  .help-login-screen {
    width: 100%;
    padding: 5px;
  }

  .help-features-general {
    grid-template-columns: repeat(1, 1fr);
  }

  .help-dev-logos {
    flex-direction: column;
  }
}

/* #endregion */